/* container */
.container {
    display: grid;
    -ms-grid-rows: (1fr)(2);
    grid-template-rows: repeat(2, 1fr);
    -ms-grid-columns: (1fr)(4);
    grid-template-columns: repeat(2, 1fr);
    width: 100vw;
    height: 100vh;
}

@media screen and (max-width: 60em) {
    .container {
        -ms-grid-rows: (1fr)(4);
        grid-template-rows: repeat(4, 1fr);
    }
}

.grid-1 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    grid-column-end: 3;
    -ms-grid-row: 1;
    grid-row: 1;
}

@media screen and (max-width: 60em) {
    .grid-1 {
        -ms-grid-column: 1;
        grid-column-start: 1;
        grid-column-end: 5;
        -ms-grid-row: 1;
        grid-row: 1;
    }
}

.grid-2 {
    -ms-grid-column: 3;
    grid-column-start: 3;
    grid-column-end: 5;
    -ms-grid-row: 1;
    grid-row: 1;
}

@media screen and (max-width: 60em) {
    .grid-2 {
        -ms-grid-column: 1;
        grid-column-start: 1;
        grid-column-end: 5;
        -ms-grid-row: 1;
        grid-row: 1;
    }
}

.grid-3 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    grid-column-end: 3;
    -ms-grid-row: 2;
    grid-row: 2;
}

@media screen and (max-width: 60em) {
    .grid-3 {
        -ms-grid-column: 1;
        grid-column-start: 1;
        grid-column-end: 5;
        -ms-grid-row: 3;
        grid-row: 3;
    }
}

.grid-4 {
    -ms-grid-column: 3;
    grid-column-start: 3;
    grid-column-end: 5;
    -ms-grid-row: 2;
    grid-row: 2;
}

@media screen and (max-width: 60em) {
    .grid-4 {
        -ms-grid-column: 1;
        grid-column-start: 1;
        grid-column-end: 5;
        -ms-grid-row: 4;
        grid-row: 4;
    }
}

/*container 2 */

.container2 {
    padding-top: 400px;
    display: flex;
}

/* container 3 */
.container3 {
    display: flex;
}

/*container 4 */
.container4 {
    display: flex;
}

/* container 5 */
.container5 {
    display: grid;
    -ms-grid-rows: (1fr)(2);
    grid-template-rows: repeat(2, 1fr);
    -ms-grid-columns: (1fr)(4);
    grid-template-columns: repeat(2, 1fr);
    width: 100vw;
    height: 100vh;
}

/* container 6 */
.container6 {
    display: grid;
    padding-top: 400px;
}

/* container 7 */
.container7 {
    display: flex;
    flex-direction: row;
}


/* container1 Bol.com/Kempen/Philips/Gemeentehuis*/

.bol {
    background-image: url(../../../public/Images/bol.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 568px;
    width: 720px;
}

.kempen {
    background-image: url(../../../public/Images/kempen.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 568px;
    width: 720px;
}

.philips {
    background-image: url(../../../public/Images/philips.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 568px;
    width: 720px;
}

.gemeentemuseum {
    background-image: url(../../../public/Images/gemeentemuseum.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 568px;
    width: 720px;
}

.Florensis {
    background-image: url(../../../public/Images/florensis.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 964px;
    height: 568px;
}

.belightining {
    background-image: url(../../../public/Images/building.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 568px;
    width: 720px;
}

.tui {
    background-image: url(../../../public/Images/graphic.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 568px;
    width: 720px;
}

.chocomel {
    background-image: url(../../../public/Images/chocomel.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 568px;
    width: 720px;
}

.jbl {
    background-image: url(../../../public/Images/jbl.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 568px;
    width: 720px;
}

.zalando {
    background-image: url(../../../public/Images/zalando.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 568px;
    width: 720px;
}

.koninklijkebibliotheek {
    background-image: url(../../../public/Images/koninklijkebibliotheek.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 568px;
    width: 720px;
}

.libertyglobal {
    background-image: url(../../../public/Images/libertyglobal.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 568px;
    width: 720px;
}

.arla {
    background-image: url(../../../public/Images/arla.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 568px;
    width: 720px;
}

/*text styling */

h5 {
    text-align: start;
    color: white;
}

p {
    text-align: start;
    color: white;
}

h6 {
    text-align: start;
    color: white;
}