.container {
    display: -ms-grid;
    display: grid;
    grid-gap: 0.5em;
    -ms-grid-rows: (1fr)(2);
    grid-template-rows: repeat(2, 1fr);
    -ms-grid-columns: (1fr)(4);
    grid-template-columns: repeat(4, 1fr);
    width: 100vw;
    height: 100vh;
}

@media screen and (max-width: 60em) {
    .container {
        -ms-grid-rows: (1fr)(4);
        grid-template-rows: repeat(4, 1fr);
    }
}

.grid-1 {
    background-image: url(../../../public/Images/bol.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 720px;
    height: 568px;
    -ms-grid-column: 1;
    grid-column-start: 1;
    grid-column-end: 3;
    -ms-grid-row: 1;
    grid-row: 1;
    text-align: start;
}

@media screen and (max-width: 60em) {
    .grid-1 {
        -ms-grid-column: 1;
        grid-column-start: 1;
        grid-column-end: 5;
        -ms-grid-row: 1;
        grid-row: 1;
    }
}

.grid-2 {
    background-image: url(../../../public/Images/kempen.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 720px;
    height: 568px;
    -ms-grid-column: 3;
    grid-column-start: 3;
    grid-column-end: 5;
    -ms-grid-row: 1;
    grid-row: 1;
    text-align: start;
}

@media screen and (max-width: 60em) {
    .grid-2 {
        -ms-grid-column: 1;
        grid-column-start: 1;
        grid-column-end: 5;
        -ms-grid-row: 2;
        grid-row: 2;
    }
}

.grid-3 {
    background-image: url(../../../public/Images/philips.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 720px;
    height: 568px;
    -ms-grid-column: 1;
    grid-column-start: 1;
    grid-column-end: 3;
    -ms-grid-row: 2;
    grid-row: 2;
    text-align: start;
}

@media screen and (max-width: 60em) {
    .grid-3 {
        -ms-grid-column: 1;
        grid-column-start: 1;
        grid-column-end: 5;
        -ms-grid-row: 3;
        grid-row: 3;
    }
}

.grid-4 {
    background-image: url(../../../public/Images/gemeentemuseum.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 720px;
    height: 568px;
    -ms-grid-column: 3;
    grid-column-start: 3;
    grid-column-end: 5;
    -ms-grid-row: 2;
    grid-row: 2;
    text-align: start;
}

@media screen and (max-width: 60em) {
    .grid-4 {
        -ms-grid-column: 1;
        grid-column-start: 1;
        grid-column-end: 5;
        -ms-grid-row: 4;
        grid-row: 4;
    }
}

.callout {
    margin: 0;
    background-color: silver;
}

/* text */

h5 {
    font-size: 10px;
    color: white;
    font-weight: 400px;
    line-height: 10px;
    font-family: 'Open Sans';
    text-align: start;
    margin-left: 62px;
    margin-right: 32px;
}

p {
    font-size: 10px;
    color: white;
    font-weight: 400;
    font-family: 'Open Sans';
    width: 412px;
    text-align: start;
    margin-left: 62px;
    margin-right: 32px;
}

h6 {
    color: white;
    line-height: 10px;
    font-weight: 400;
    font-size: 8px;
    text-align: start;
    margin-left: 62px;
    margin-right: 32px;
}

/* section clients Florensis & Microsoft, O'NEILL */
.Florensis {
    background-image: url(../../../public/Images/florensis.png);
    height: 568px;
    width: 964px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: start;

}

.Microsoft-Oneill {
    background-color: black;
    height: 568px;

}

.Florensis-Microsoft-Oneill {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: center;
    height: 568px;

}

/*clients article*/

.article-transavia {
    background-color: black;
    color: white;
    text-align: center;
    width: 1312px;
    height: 132px;
    font-weight: 400px;
    line-height: 15px;
    font-size: 15px;
    font-family: 'Open Sans';
    padding-top: 50px;

}

.CEO-transavia {
    font-size: 10px;
}

article {
    background-color: black;
    color: white;
    text-align: start;

}

/* belighting & tui*/

.section-clients {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;

}

.Belighting {
    background-image: url(../../../public/Images/building.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 720px;
    height: 568px;
}

.tui {
    background-image: url(../../../public/Images/graphic.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 720px;
    height: 568px;
}