.Navbar {
  background-color: black ;
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: baseline;
	align-content: stretch;
    text-overflow: ellipsis;
}

.NavLogo {
  margin-left: 32px;
}
li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
    margin-left: 40px;
}

.Navbar2 {
  display:none; 
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  margin-top: 40px; }


@media screen and (max-width: 760px) {
    .Navbar {
      display: none;
    }
  }

  @media screen and (max-width: 760px) {
    .Navbar2 {
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: baseline;
  align-content: stretch;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 90px;
  margin-left: -120px;
    }

    .menuButton {
      color: black;
    }

    .nav {
      width: 410;
    }
  }
