.Florensis {
    background-image: url(../../../../public/Images/florensis.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 964px;
    height: 568px;
    
}

.container2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: black;
    padding-left: 20px;  
}

.Microsoft-Oneill {
    width: 320px;
    height: 200px;

}
.florensis {
    color: white;
}

h5 {
    color: white;
}

@media screen and (max-width: 760px){
    .Florensis {
        background-image: url(../../../../public/Images/florensis.png);
        background-size: contain;
        background-repeat: no-repeat;
        width: 410px;
        height: 590px;
    }

    .grid-2 {
        display: grid; 
        grid-auto-columns: 1fr; 
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr 1fr; 
        gap: 0px 0px; 
        grid-template-areas: 
          "."
          "."; 
      }

}