
 html, body {
  max-width: 1140px;
  height: 100vh;
  height: 100%;
  overflow-x: scroll;
  overflow-x:hidden !important;
  -ms-overflow-style: none;
  scrollbar-width: none;
  margin:0;
  padding: 0; 
  
}

#root::-webkit-scrollbar{
  display:none;
  width: 100%;
  height: 100vh;
}



