.belightining {
    background-image: url(../../../../public/Images/building.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 568px;
    width: 720px;
}

.tui {
    background-image: url(../../../../public/Images/graphic.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 568px;
    width: 720px;
}

.container3{
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      ". ."; 
  }


/*mobile size*/
@media screen and (max-width: 760px){ 
    .container3 {
        display: grid; 
        grid-auto-columns: 1fr; 
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr 1fr; 
        gap: 0px 0px; 
        grid-template-areas: 
          "."
          "."; 
      }
    }
