@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Prata&family=Quicksand:wght@300&family=Teko&display=swap');


#nav {
    display: none;
  }
  
  #nav.open {
    display: inline-block;
    background-color: black ;
  }

  ul {
    list-style-type: none;
  }

  .nav-items {
    background-color: black ;
    color: white ;
    font-family: Teko;
    font-size: 60px;
    width: 334px;
}

.Nav-hr {
    border: 1px solid #A3A3A3;
    width: 981px ;
}
