.container6 {
    width: 1140px; 
    height: 284px;
    background-color: black;
    color: white;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 0px 0px;
    text-align: center;
    align-items: center;
}

@media screen and (max-width: 760px){
    .container6 {
        display: grid; 
        grid-auto-columns: 1fr; 
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr 1fr; 
        gap: 0px 0px; 
        grid-template-areas: 
          "."
          "."; 
          margin-top: -20px;
      }

      .grid-1 {
        width: 400px;
        margin-top: 50px;
        margin-left: 32px;
      }
    }