/*gid container*/
.container {
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 0px 0px;
    color: white;
  }

  .txt{
    color: white;
    margin-left: 10px;
  }


/*clients*/

.bol {
    background-image: url(../../../../public/Images/bol.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 568px;
    width: 720px;
}


.kempen {
    background-image: url(../../../../public/Images/kempen.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 568px;
    width: 720px;
  
}


.philips {
    background-image: url(../../../../public/Images/philips.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 568px;
    width: 720px;
    
}

.gemeentemuseum {
    background-image: url(../../../../public/Images/gemeentemuseum.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 568px;
    width: 720px;
   
}

/*mobile size*/
@media screen and (max-width: 760px) {
    .container {
        display: grid; 
        grid-auto-columns: 1fr; 
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr 1fr; 
        gap: 0px 0px; 
        grid-template-areas: 
          "."
          "."; 
      }
    


}

