

.container5 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    width: 100vh;
}

.chocomel {
    background-image: url(../../../../public/Images/chocomel.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 568px;
    width: 720px;
}

.jbl {
    background-image: url(../../../../public/Images/jbl.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 568px;
    width: 720px;
}

.zalando {
    background-image: url(../../../../public/Images/zalando.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 568px;
    width: 720px;
}

.koninklijkebibliotheek {
    background-image: url(../../../../public/Images/koninklijkebibliotheek.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 568px;
    width: 720px;
}

/*mobile size*/
@media screen and (max-width: 760px) {
    .container5 {
        display: grid; 
        grid-auto-columns: 1fr; 
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr 1fr; 
        gap: 0px 0px; 
        grid-template-areas: 
          "."
          "."; 
      }
 

}
