@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Open+Sans:wght@300&family=Prata&family=Quicksand:wght@300&family=Teko&display=swap');

.SectionLanding {
    background-image: url("../../../public/office2.png");
    background-repeat: no-repeat;
    height: 628px;
   
}

.TextLanding {
    color: white;
    font-size: 16px;
    line-height: 16px;
    font-weight: 550;
    font-style: normal;
    font-family:'Open Sans';
    text-overflow: ellipsis;
    overflow: hidden ;
}

.TextLanding2{
    color: white;
    font-size: 30px;
    font-family:'Open Sans';
    line-height: 32px;
    font-weight: 400;
    font-style: normal;
    text-overflow: ellipsis;
    overflow: hidden ;

}

.SectionText {
    position: absolute;
    text-align: start;
    margin-top: 340px;
    margin-left: 56px;
 
    
}

/* Section Show bar */

.SectionShowBar {
    display: inline-flex;
    font-family: 'Open Sans';
    font-size: 20px;
    color: #A3A3A3;
    width: 1140px ;
    text-overflow: ellipsis;
    overflow: initial ;   
}


.SectionLinks {
    color: black ;
    text-decoration: underline;
    
}

.SectionShowBar>h4:first-child{
    margin-right: 760px;
}

